body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}

.progressBar {
  position: relative;
}

#colorCircle {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 450px;
  margin-bottom: 300px;
  border-radius: 50%;
  background-color: red;
  transition: background-color 0.3s linear;
}

.colorSection {
  text-align: center;
}

.colorName {
  margin-top: 5px;
  cursor: pointer;
}

.colorTick {
  width: 2px;
  height: 20px;
  background: currentColor;
  margin: 20px auto;
  background-color: aqua;
}

input[type="range"] {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(168, 81, 85, 0.412);
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

#colorSlider {
  width: 79.5%;
  margin-top: 609px;
  position: absolute;
  background: rgba(168, 81, 85, 0.412);
  appearance: none;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
}

#colorSections {
  display: flex;
  margin-top: 50px;
  position: absolute;
  top: 69%;
  left: 10%;
  justify-content: space-between;
  width: 80%;
  z-index: -10;
}